.weather-icon1 {
    width: 150px; /* Adjust the desired width */
    height: 150px; /* Adjust the desired height */
  }
  .weather-icon2 {
    width: 10px; /* Adjust the desired width */
    height: 10px; /* Adjust the desired height */
  }
  .weather-icon3 {
    width: 40px; /* Adjust the desired width */
    height: 40px; /* Adjust the desired height */
  }